
@{
    ViewBag.Title = "Micro Região";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3 class="page-header">Micro Regiões</h3>

<div data-ng-controller="microregiaoController">

    <div id="top" class="row">
        <div class="col-md-3">
            <div class="input-group h2">
                <input name="data[search]" class="form-control" id="search" type="text" placeholder="Pesquisar Itens" ng-model="criteria">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </div>

        <div class="col-md-9">
            <span ng-click="ClearFields()" class="btn btn-primary pull-right h2" data-toggle="modal" data-target="#myModalAdd"> Novo Item</span>
        </div>
    </div> <!-- /#top -->
    <hr />

    <!-- ng-controller-->
    <div class="panel panel-default">
        <div class="row">
            <div class="col-md-13">
                <strong>{{erro}}</strong>
            </div>
        </div>

        <div class="col-md-20">
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <tr>
                        <td><b>Nome</b></td>
                        <td><b>Ação</b></td>
                    </tr>
                    <tr data-ng-repeat="MicroRegiao in listamicroregiao | filter:criteria">
                        <td class="text-left col-lg-10">
                            {{ MicroRegiao.nm_microregiao }}
                        </td>
                        <td>
                            <div class="btn-group btn-group-justified">
                                <span ng-click="obterMicroRegiaoPorId(MicroRegiao)" class="btn btn-info" data-toggle="modal" data-target="#myModal"> Alterar</span>
                                <span ng-click="deletemicroregiao(MicroRegiao)" class="btn btn-danger"> Excluir</span>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>

            <div id="myModalAdd" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Cadastro de Micros Regiões</h4>
                        </div>
                        <div class="modal-body">

                            <form class="form-horizontal" role="form">
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="email">Nome:</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="MicroRegiaoAdd" placeholder="Informe a Micro Região" size="80" name="nm_microregiao"
                                               ng-model="nm_microregiao">
                                    </div>
                                </div>
                            </form>

                        </div>
                        <div class="modal-footer">
                            <span ng-click="postmicroregiao()" class="btn btn-primary" data-dismiss="modal"> Salvar</span>
                            <button type="button" class="btn btn-warning" data-dismiss="modal">Cancelar</button>
                        </div>
                    </div>

                </div>
            </div>

            <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Alteração da Micro Região</h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-inline" role="form">
                                <div class="form-group input-group h6">
                                    <input type="text" class="form-control" id="MicroRegiaoAdd" placeholder="Informe a micro Região" size="80" name="nm_microregiao"
                                           ng-model="nm_microregiao">
                                </div>

                            </form>
                        </div>
                        <div class="modal-footer">
                            <span ng-click="atualizamicroregiao()" class="btn btn-primary" data-dismiss="modal"> Salvar</span>
                            <button type="button" class="btn btn-warning" data-dismiss="modal">Cancelar</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <div id="bottom" class="row">
        <div class="col-md-12">

            <ul class="pagination">
                <li class="disabled"><a>&lt; Anterior</a></li>
                <li class="disabled"><a>1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li class="next"><a href="#" rel="next">Próximo &gt;</a></li>
            </ul><!-- /.pagination -->

        </div>
    </div> <!-- /#bottom -->
</div>



