
@{
    ViewBag.Title = "Endereço";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="page-header">Endereços</h3>

<!--<div class="tab-content" data-ng-controller="estadoController">-->
<div data-ng-controller="enderecoController">

    <div id="top" class="row">
        <div class="col-md-3">
            <div class="input-group h2">
                <input name="data[search]" class="form-control" id="search" type="text" placeholder="Pesquisar Itens" ng-model="criteria">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </div>

        <div class="col-md-9">
            <span ng-click="ClearFields()" class="btn btn-primary pull-right h2" data-toggle="modal" data-target="#myModalAdd"> Novo Item</span>
        </div>
    </div> <!-- /#top -->
    <hr />

    <!-- ng-controller-->
    <div class="panel panel-default">
        <div class="row">
            <div class="col-md-13">
                <strong>{{erro}}</strong>
            </div>
        </div>

        <div class="col-md-20">
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <tr>
                        <td><b>Nome</b></td>
                        <td><b>CEP</b></td>
                        <td><b>Numero</b></td>
                        <td><b>Descrisão</b></td>
                        <td><b>Bairro</b></td>
                        <td><b>Ação</b></td>
                    </tr>
                    <tr data-ng-repeat="Endereco in listaendereco | filter:criteria">
                        <td class="text-left col-lg-2">
                            {{ Endereco.nm_ender }}
                        </td>
                        <td class="text-left col-lg-2">
                            {{ Endereco.CEP }}
                        </td>
                        <td class="text-left col-lg-2">
                            {{ Endereco.numero }}
                        </td>
                        <td class="text-left col-lg-2">
                            {{ Endereco.descricao }}
                        </td>
                        <td class="text-left col-lg-2">
                            <span ng-repeat="Bairro in NomeBairro" ng-if="Bairro.cd_bairro == Endereco.cd_bairro">
                                {{ Bairro.nm_bairro }}
                            </span>
                        </td>
                        <td>
                            <div class="btn-group btn-group-justified">
                                <span ng-click="obterEnderecoPorId(Endereco)" class="btn btn-info" data-toggle="modal" data-target="#myModal"> Alterar</span>
                                <span ng-click="deleteendereco(Endereco)" class="btn btn-danger"> Excluir</span>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>

            <div id="myModalAdd" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Cadastro de Endereço</h4>
                        </div>
                        <div class="modal-body">

                            <form class="form-horizontal" role="form">
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="email">Logradouro:</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="EnderecoAdd" placeholder="Informe o Logradouro" size="80" name="nm_ender"
                                               ng-model="nm_ender">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="email">CEP:</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="EnderecoAdd" placeholder="Informe o CEP" size="80" name="CEP"
                                               ng-model="CEP">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="email">Numero:</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="EnderecoAdd" placeholder="Informe o Numero" size="80" name="numero"
                                               ng-model="numero">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="email">Descrisão:</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="EnderecoAdd" placeholder="Informe o Logradouro" size="80" name="descricao"
                                               ng-model="descricao">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="pwd">Bairro:</label>
                                    <div class="col-sm-10">
                                        <select class="form-control" id="EnderecoAdd" ng-model="myOption"
                                                ng-options="value.cd_bairro as value.nm_bairro for value in myOptions ">
                                            <option>--</option>
                                        </select>

                                        <div>
                                            ng-model value: {{myOption}}
                                        </div>
                                    </div>
                                </div>
                            </form>

                        </div>
                        <div class="modal-footer">
                            <span ng-click="postendereco(myOption)" class="btn btn-primary" data-dismiss="modal"> Salvar</span>
                            <button type="button" class="btn btn-warning" data-dismiss="modal">Cancelar</button>
                        </div>
                    </div>

                </div>
            </div>

            <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Alteração do Estado</h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" role="form">
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="email">Logradouro:</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="EnderecoAdd" placeholder="Informe o Logradouro" size="80" name="nm_endereco"
                                               ng-model="nm_endereco">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="email">CEP:</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="EnderecoAdd" placeholder="Informe o CEP" size="80" name="CEP"
                                               ng-model="CEP">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="email">Numero:</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="EnderecoAdd" placeholder="Informe o Numero" size="80" name="numero"
                                               ng-model="numero">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="email">Descrisão:</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="EnderecoAdd" placeholder="Informe a Descrisão" size="80" name="descrisao"
                                               ng-model="descrisao">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="pwd">Bairro:</label>
                                    <div class="col-sm-10">
                                        <select class="form-control" id="EnderecoAdd" ng-model="myOption"
                                                ng-options="value.cd_bairro as value.nm_bairo for value in myOptions ">
                                            <option>--</option>
                                        </select>

                                        <div>
                                            ng-model value: {{myOption}}
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <span ng-click="atualizaendereco()" class="btn btn-primary" data-dismiss="modal"> Salvar</span>
                            <button type="button" class="btn btn-warning" data-dismiss="modal">Cancelar</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <div id="bottom" class="row">
        <div class="col-md-12">

            <ul class="pagination">
                <li class="disabled"><a>&lt; Anterior</a></li>
                <li class="disabled"><a>1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li class="next"><a href="#" rel="next">Próximo &gt;</a></li>
            </ul><!-- /.pagination -->

        </div>
    </div> <!-- /#bottom -->
</div>


