
@{
    ViewBag.Title = "Unidade";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3 class="page-header">Unidades de Medidas</h3>

<!--<div class="tab-content" data-ng-controller="estadoController">-->
<div data-ng-controller="unidadeController">

    <div id="top" class="row">
        <div class="col-md-3">
            <div class="input-group h2">
                <input name="data[search]" class="form-control" id="search" type="text" placeholder="Pesquisar Itens" ng-model="criteria">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </div>

        <div class="col-md-9">
            <span ng-click="ClearFields()" class="btn btn-primary pull-right h2" data-toggle="modal" data-target="#myModalAdd"> Novo Item</span>
        </div>
    </div> <!-- /#top -->
    <hr />

    <!-- ng-controller-->
    <div class="panel panel-default">
        <div class="row">
            <div class="col-md-13">
                <strong>{{erro}}</strong>
            </div>
        </div>

        <div class="col-md-20">
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <tr>
                        <td><b>Nome</b></td>
                        <td><b>Nome Abrev.</b></td>
                        <td><b>Grupo de Unidade</b></td>
                        <td><b>Ação</b></td>
                    </tr>
                    <tr data-ng-repeat="Unidade in listaunidade | filter:criteria">
                        <td class="text-left col-lg-3">
                            {{ Unidade.nm_unida }}
                        </td>
                        <td class="text-left col-lg-3">
                            {{ Unidade.abrv_unida }}
                        </td>
                        <td class="text-left col-lg-3">
                            <span ng-repeat="Gruni in NomeGruni" ng-if="Gruni.cd_gruni == Unidade.cd_gruni">
                                {{ Gruni.nm_gruni }}
                            </span>
                        </td>
                        <td>
                            <div class="btn-group btn-group-justified">
                                <span ng-click="obterUnidadePorId(Unidade)" class="btn btn-info" data-toggle="modal" data-target="#myModal"> Alterar</span>
                                <span ng-click="deleteunidade(Unidade)" class="btn btn-danger"> Excluir</span>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>

            <div id="myModalAdd" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Cadastro de Unidade</h4>
                        </div>
                        <div class="modal-body">

                            <form class="form-horizontal" role="form">
                                <div class="form-group">
                                    <label class="control-label col-sm-4" for="email">Nome:</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="UnidadeAdd" placeholder="Informe a Unidade" size="80" name="nm_unida"
                                               ng-model="nm_unida">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4" for="email">Nome Abrev.:</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="UnidadeAdd" placeholder="Informe o nome abreviado da Unidade" size="80" name="abrv_unida"
                                               ng-model="abrv_unida">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4" for="pwd">Grupo de Unidade:</label>
                                    <div class="col-sm-6">
                                        <select class="form-control" id="UnidadeAdd" ng-model="myOption"
                                                ng-options="value.cd_gruni as value.nm_gruni for value in myOptions ">
                                            <option>--</option>
                                        </select>

                                        <div>
                                            ng-model value: {{myOption}}
                                        </div>
                                    </div>
                                </div>
                            </form>

                        </div>
                        <div class="modal-footer">
                            <span ng-click="postunidade(myOption)" class="btn btn-primary" data-dismiss="modal"> Salvar</span>
                            <button type="button" class="btn btn-warning" data-dismiss="modal">Cancelar</button>
                        </div>
                    </div>

                </div>
            </div>

            <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Alteração da Unidade</h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" role="form">
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="email">Nome:</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="UnidadeAdd" placeholder="Informe a Unidade" size="80" name="nm_unida"
                                               ng-model="nm_unida">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="email">Nome Abrev.:</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="UnidadeAdd" placeholder="Informe o nome abrevido da Unidade" size="80" name="abrv_unida"
                                               ng-model="abrv_unida">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="pwd">Grupo de Unidade:</label>
                                    <div class="col-sm-10">
                                        <select class="form-control" id="UnidadeAdd" ng-model="myOption"
                                                ng-options="value.cd_cd_gruni as value.nm_gruni for value in myOptions ">
                                            <option>--</option>
                                        </select>

                                        <div>
                                            ng-model value: {{myOption}}
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <span ng-click="atualizaunidade()" class="btn btn-primary" data-dismiss="modal"> Salvar</span>
                            <button type="button" class="btn btn-warning" data-dismiss="modal">Cancelar</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <div id="bottom" class="row">
        <div class="col-md-12">

            <ul class="pagination">
                <li class="disabled"><a>&lt; Anterior</a></li>
                <li class="disabled"><a>1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li class="next"><a href="#" rel="next">Próximo &gt;</a></li>
            </ul><!-- /.pagination -->

        </div>
    </div> <!-- /#bottom -->
</div>

