
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="page-header">Sensores</h3>

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Pesquisas</a></li>
    <li><a data-toggle="tab" href="#menu1">Cadastros</a></li>
</ul>

<div class="tab-content">
    <div id="home" class="tab-pane fade in active">
        <hr />
        <div id="top" class="row">
            <div class="col-md-3">
                <div class="input-group h2">
                    <input name="data[search]" class="form-control" id="search" type="text" placeholder="Pesquisar Itens">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </div>

            <!--<div class="col-md-9">
                <a href="add.html" class="btn btn-primary pull-right h2">Novo Item</a>
            </div>-->
        </div> <!-- /#top -->
        <hr />

        <div data-ng-controller="unidadeController">
            <div class="panel panel-default">
                <div class="row">
                    <div class="col-md-13">
                        <strong>{{erro}}</strong>
                    </div>
                </div>

                <div class="col-md-20">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <tr data-ng-repeat="Unidade in listaunidade">
                                <td class="text-left col-lg-10">
                                    {{ Unidade.nm_unida }}
                                </td>
                                <td>
                                    <div class="btn-group btn-group-justified">
                                        <span ng-click="PutTipoSensor(TipoSensor.id_cliente, TipoSensor)" class="btn btn-info"> Alterar</span>
                                        <span ng-click="Deletecliente(TipoSensor.id_cliente)" class="btn btn-danger"> Excluir</span>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

            </div>

            <div id="bottom" class="row">
                <div class="col-md-12">

                    <ul class="pagination">
                        <li class="disabled"><a>&lt; Anterior</a></li>
                        <li class="disabled"><a>1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li class="next"><a href="#" rel="next">Próximo &gt;</a></li>
                    </ul><!-- /.pagination -->

                </div>
            </div> <!-- /#bottom -->
        </div>
    </div>
    <div id="menu1" class="tab-pane fade">
        <div class="container" ng-controller="unidadeAddController">
            <hr />
            <form class="form-inline" role="form" ng-submit="postgruni()">
                <div class="form-group input-group h6">
                    <input type="text" class="form-control" id="PaisAdd" placeholder="Informe o sensor" size="80" name="nm_gruni"
                           ng-model="nm_gruni">
                </div>
                <div class="btn-group ">
                    <button type="submit" class="btn btn-primary">Salvar</button>
                    <button type="submit" class="btn btn-warning">Cancelar</button>
                </div>

            </form>

        </div>
    </div>
</div>




