
@{
    ViewBag.Title = "Sensor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="page-header">Sensores</h3>

<!--<div class="tab-content" data-ng-controller="estadoController">-->
<div data-ng-controller="sensorController">

    <div id="top" class="row">
        <div class="col-md-3">
            <div class="input-group h2">
                <input name="data[search]" class="form-control" id="search" type="text" placeholder="Pesquisar Itens" ng-model="criteria">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </div>

        <div class="col-md-9">
            <span ng-click="ClearFields()" class="btn btn-primary pull-right h2" data-toggle="modal" data-target="#myModalAdd"> Novo Item</span>
        </div>
    </div> <!-- /#top -->
    <hr />

    <!-- ng-controller-->
    <div class="panel panel-default">
        <div class="row">
            <div class="col-md-13">
                <strong>{{erro}}</strong>
            </div>
        </div>

        <div class="col-md-20">
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <tr>
                        <td><b>Nome</b></td>
                        <td><b>TAG</b></td>
                        <td><b>Tipo</b></td>
                        <td><b>Unidade</b></td>
                        <td><b>Endereço</b></td>
                        <td><b>Ação</b></td>
                    </tr>
                    <tr data-ng-repeat="Sensor in listasensores | filter:criteria">
                        <td class="text-left col-lg-2">
                            {{ Sensor.nm_sensor }}
                        </td>
                        <td class="text-left col-lg-2">
                            {{ Sensor.tag_sensor }}
                        </td>
                        <td class="text-left col-lg-2">
                            <span ng-repeat="TipoSensor in NomeTipoSensor" ng-if="TipoSensor.cd_tpsensor == Sensor.cd_tpsensor">
                                {{ TipoSensor.nm_tpsensor }}
                            </span>
                        </td>
                        <td class="text-left col-lg-2">
                            <span ng-repeat="Unidade in NomeUnidade" ng-if="Unidade.cd_unida == Sensor.cd_unida">
                                {{ Unidade.nm_unida }}
                            </span>
                        </td>
                        <td class="text-left col-lg-2">
                            <span ng-repeat="Endereco in NomeEndereco" ng-if="Endereco.cd_ender == Sensor.cd_ender">
                                {{ Endereco.nm_ender }}
                            </span>
                        </td>
                        <td>
                            <div class="btn-group btn-group-justified">
                                <span ng-click="obterSensorPorId(Sensor)" class="btn btn-info" data-toggle="modal" data-target="#myModal"> Alterar</span>
                                <span ng-click="deletesensor(Sensor)" class="btn btn-danger"> Excluir</span>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>

            <div id="myModalAdd" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Cadastro de Sensor</h4>
                        </div>
                        <div class="modal-body">

                            <form class="form-horizontal" role="form">
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="email">Sensor:</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="EnderecoAdd" placeholder="Informe o Sensor" size="80" name="nm_sensor"
                                               ng-model="nm_sensor">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="email">TAG:</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="EnderecoAdd" placeholder="Informe a TAG" size="80" name="tag_sensor"
                                               ng-model="tag_sensor">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="pwd">Tipo:</label>
                                    <div class="col-sm-10">
                                        <select class="form-control" id="EnderecoAdd" ng-model="myOption"
                                                ng-options="value.cd_tpsensor as value.nm_tpsensor for value in myOptions ">
                                            <option>--</option>
                                        </select>

                                        <div>
                                            ng-model value: {{myOption}}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="pwd">Unidade:</label>
                                    <div class="col-sm-10">
                                        <select class="form-control" id="EnderecoAdd" ng-model="myOptionUnidade"
                                                ng-options="value.cd_unida as value.nm_unida for value in myOptionsUnidade ">
                                            <option>--</option>
                                        </select>

                                        <div>
                                            ng-model value: {{myOptionUnidade}}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="pwd">Endereco:</label>
                                    <div class="col-sm-10">
                                        <select class="form-control" id="EnderecoAdd" ng-model="myOptionEndereco"
                                                ng-options="value.cd_ender as value.nm_ender for value in myOptionsEndereco ">
                                            <option>--</option>
                                        </select>

                                        <div>
                                            ng-model value: {{myOptionEndereco}}
                                        </div>
                                    </div>
                                </div>
                            </form>

                        </div>
                        <div class="modal-footer">
                            <span ng-click="postsensor(myOptionUnidade, myOptionEndereco, myOption)" class="btn btn-primary" data-dismiss="modal"> Salvar</span>
                            <button type="button" class="btn btn-warning" data-dismiss="modal">Cancelar</button>
                        </div>
                    </div>

                </div>
            </div>

            <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Alteração do Sensor</h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" role="form">
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="email">Sensor:</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="EnderecoAdd" placeholder="Informe o Sensor" size="80" name="nm_sensor"
                                               ng-model="nm_sensor">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="email">TAG:</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="EnderecoAdd" placeholder="Informe a TAG" size="80" name="tag_sensor"
                                               ng-model="tag_sensor">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="pwd">Tipo:</label>
                                    <div class="col-sm-10">
                                        <select class="form-control" id="EnderecoAdd" ng-model="myOption"
                                                ng-options="value.cd_tpsensor as value.nm_tpsensor for value in myOptions ">
                                            <option>--</option>
                                        </select>

                                        <div>
                                            ng-model value: {{myOption}}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="pwd">Unidade:</label>
                                    <div class="col-sm-10">
                                        <select class="form-control" id="EnderecoAdd" ng-model="myOptionUnidade"
                                                ng-options="value.cd_unida as value.nm_unida for value in myOptionsUnidade ">
                                            <option>--</option>
                                        </select>

                                        <div>
                                            ng-model value: {{myOptionUnidade}}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="pwd">Endereco:</label>
                                    <div class="col-sm-10">
                                        <select class="form-control" id="EnderecoAdd" ng-model="myOptionEndereco"
                                                ng-options="value.cd_ender as value.nm_ender for value in myOptionsEndereco ">
                                            <option>--</option>
                                        </select>

                                        <div>
                                            ng-model value: {{myOptionEndereco}}
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <span ng-click="atualizasensor()" class="btn btn-primary" data-dismiss="modal"> Salvar</span>
                            <button type="button" class="btn btn-warning" data-dismiss="modal">Cancelar</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <div id="bottom" class="row">
        <div class="col-md-12">

            <ul class="pagination">
                <li class="disabled"><a>&lt; Anterior</a></li>
                <li class="disabled"><a>1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li class="next"><a href="#" rel="next">Próximo &gt;</a></li>
            </ul><!-- /.pagination -->

        </div>
    </div> <!-- /#bottom -->
</div>