
@{
    ViewBag.Title = "Cidade";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="page-header">Cidades</h3>

<!--<div class="tab-content" data-ng-controller="estadoController">-->
<div data-ng-controller="cidadeController">

    <div id="top" class="row">
        <div class="col-md-3">
            <div class="input-group h2">
                <input name="data[search]" class="form-control" id="search" type="text" placeholder="Pesquisar Itens" ng-model="criteria">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </div>

        <div class="col-md-9">
            <span ng-click="ClearFields()" class="btn btn-primary pull-right h2" data-toggle="modal" data-target="#myModalAdd"> Novo Item</span>
        </div>
    </div> <!-- /#top -->
    <hr />

    <!-- ng-controller-->
    <div class="panel panel-default">
        <div class="row">
            <div class="col-md-13">
                <strong>{{erro}}</strong>
            </div>
        </div>

        <div class="col-md-20">
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <tr>
                        <td><b>Nome</b></td>
                        <td><b>Região</b></td>
                        <td><b>Estado</b></td>
                        <td><b>Ação</b></td>
                    </tr>
                    <tr data-ng-repeat="Cidade in listacidades | filter:criteria">
                        <td class="text-left col-lg-3">
                            {{ Cidade.nm_cidade }}
                        </td>
                        <td class="text-left col-lg-3">
                            <span ng-repeat="MicroRegiao in myOptions" ng-if="MicroRegiao.cd_microregiao == Cidade.cd_microregiao">
                                {{ MicroRegiao.nm_microregiao }}
                            </span>
                        </td>
                        <td class="text-left col-lg-3">
                            <span ng-repeat="Estado in myOptionsEstado" ng-if="Estado.cd_estado == Cidade.cd_estado">
                                {{ Estado.nm_estado }}
                            </span>
                        </td>
                        <td>
                            <div class="btn-group btn-group-justified">
                                <span ng-click="obterCidadePorId(Cidade)" class="btn btn-info" data-toggle="modal" data-target="#myModal"> Alterar</span>
                                <span ng-click="deletecidade(Cidade)" class="btn btn-danger"> Excluir</span>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>

            <div id="myModalAdd" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Cadastro de Estado</h4>
                        </div>
                        <div class="modal-body">

                            <form class="form-horizontal" role="form">
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="email">Cidade:</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="cidadeAdd" placeholder="Informe a Cidade" size="80" name="nm_cidade"
                                               ng-model="nm_cidade">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="pwd">Regiao:</label>
                                    <div class="col-sm-10">
                                        <select class="form-control" id="CidadeAdd" ng-model="myOption"
                                                ng-options="value.cd_microregiao as value.nm_microregiao for value in myOptions ">
                                            <option>--</option>
                                        </select>

                                        <div>
                                            ng-model value: {{myOption}}
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="pwd">Estado:</label>
                                    <div class="col-sm-10">
                                        <select class="form-control" id="CidadeAdd" ng-model="myOption2"
                                                ng-options="value.cd_estado as value.nm_estado for value in myOptionsEstado ">
                                            <option>--</option>
                                        </select>

                                        <div>
                                            ng-model value: {{myOption2}}
                                        </div>
                                    </div>
                                </div>
                            </form>

                        </div>
                        <div class="modal-footer">
                            <span ng-click="postcidade(myOption, myOption2)" class="btn btn-primary" data-dismiss="modal"> Salvar</span>
                            <button type="button" class="btn btn-warning" data-dismiss="modal">Cancelar</button>
                        </div>
                    </div>

                </div>
            </div>

            <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Alteração da Cidade</h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" role="form">
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="email">Cidade:</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="cidadeAdd" placeholder="Informe a Cidade" size="80" name="nm_cidade"
                                               ng-model="nm_cidade">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="pwd">Regiao:</label>
                                    <div class="col-sm-10">
                                        <select class="form-control" id="CidadeAdd" ng-model="myOption"
                                                ng-options="value.cd_microregiao as value.nm_microregiao for value in myOptions ">
                                            <option>--</option>
                                        </select>

                                        <div>
                                            ng-model value: {{myOption}}
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="pwd">Estado:</label>
                                    <div class="col-sm-10">
                                        <select class="form-control" id="CidadeAdd" ng-model="myOption2"
                                                ng-options="value.cd_estado as value.nm_estado for value in myOptionsEstado ">
                                            <option>--</option>
                                        </select>

                                        <div>
                                            ng-model value: {{myOption2}}
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <span ng-click="atualizacidade()" class="btn btn-primary" data-dismiss="modal"> Salvar</span>
                            <button type="button" class="btn btn-warning" data-dismiss="modal">Cancelar</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <div id="bottom" class="row">
        <div class="col-md-12">

            <ul class="pagination">
                <li class="disabled"><a>&lt; Anterior</a></li>
                <li class="disabled"><a>1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li class="next"><a href="#" rel="next">Próximo &gt;</a></li>
            </ul><!-- /.pagination -->

        </div>
    </div> <!-- /#bottom -->
</div>